body,
.markdown-rendered {
  font-variant: common-ligatures lining-nums;
  --h1-variant: lining-nums small-caps;
  --h2-variant: lining-nums small-caps;
  --h3-variant: lining-nums;
  --h4-variant: lining-nums;
  --h5-variant: lining-nums;
  --h6-variant: lining-nums;
}
.cm-formatting-list-ul,
.cm-formatting-list-ol {
  font-variant-numeric: tabular-nums lining-nums;
}
